// entry.native.js
import * as WidgetReducer from "./reducers/WidgetReducer";
export const reducers = {
	WidgetReducer
};

import * as WidgetActions from "./actions/WidgetActions";
export const actions = {
	WidgetActions
};

// etc. for selectors
