// containers/SomeContainer.js
export default connect(
	createSelector(
		getAState,
		createStructuredSelector({
			widgets: getWidgets,
			selectedWidget: getSelectedWidget
		})
	),
	{
		loadWidgets,
		selectWidget
	}
)(WidgetsListComponent);
