// containers/SomeContainer.js
export default connect(
	createStructuredSelector({
		widgets: getWidgets,
		selectedWidget: getSelectedWidget
	}),
	{
		loadWidgets,
		selectWidget
	}
)(WidgetsListComponent);

