const handoffMiddleware = store => {
	// previous slide...
  return next => action {
    switch (action.type) {
      case NAVIGATE_TO_WIDGET_DETAIL:
        Handoff.setCurrentURL(
					makeCurrentURL(store.getState(), action));
      default:
        break;
    }
    return next(action);
  }
}
