// @org/webapp-a/WidgetActions.js
const loadWidgets = params => (dispatch, getState) => {
	const pageNumber = getPageNumber(getState()); // 💥
};
// WidgetContainer.js
const adapt = createThunkAdapter(getAState);
connect(
	// ...
	{
		loadWidgets: adapt(loadWidgets)
	}
);
import { createThunkAdapter } from "redux-thunk-state-adapter";
